Data/fawzy.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
 xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="fawzy">
<xs:complexType> 
 <xs:sequence> 
 <xs:element name="Element" maxOccurs="unbounded"> 
 <xs:complexType> 
 <xs:sequence> 
<xs:element type="xs:string" name="name"/>
<xs:element type="xs:int" name="id"/>
</xs:sequence> 
 </xs:complexType> 
 </xs:element> 
 </xs:sequence> 
 </xs:complexType> 
 </xs:element> 
 </xs:schema> 
