Data/Persons.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
 xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Persons">
<xs:complexType> 
 <xs:sequence> 
 <xs:element name="Element" maxOccurs="unbounded"> 
 <xs:complexType> 
 <xs:sequence> 
<xs:element type="xs:int" name="PersonID"/>
<xs:element type="xs:varchar255" name="Name"/>
</xs:sequence> 
 </xs:complexType> 
 </xs:element> 
 </xs:sequence> 
 </xs:complexType> 
 </xs:element> 
 </xs:schema> 
